<a href="https://colab.research.google.com/github/adrsh98/learning/blob/main/assignmnt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#QUESTION NO:1
area=3.14*3*3
print("area of the circle is",end=" ")
print(area)

area of the circle is 28.259999999999998

In [ ]:
#QUESTION NO:3
L1=[12,3,47,10]
print(max(L1),"is the largest number")

47 is the largest number

In [ ]:
#QUESTION N0:5
i=(10,20,33,46,55)
for x in i:
  if (x%5==0):
    print(x,end=" ")

10 20 55

In [ ]:
#QUESTION NO:9
L=(34,12,7)
print(max(L))

34

In [ ]:
#QUESTION NO:6
n=int(input('enter the number:'))

if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,'not a prime number')
      break
  else:
    print(n,'is a prime number')
else:
   print(n,'is not a prime number')

enter the number:3
3 is a prime number

In [ ]:
#QUESTION NO:7
L1=[10,40,30,70]
L1.reverse()
print(L1)

[70, 30, 40, 10]

In [ ]:
#QUESTUION 4:
previous_num=0
for i in range(1,11):
  j=i-1
  sum_x=i+j

  print('current number',i,'previous number',j,'sum:',sum_x)

current number 1 previous number 0 sum: 1
current number 2 previous number 1 sum: 3
current number 3 previous number 2 sum: 5
current number 4 previous number 3 sum: 7
current number 5 previous number 4 sum: 9
current number 6 previous number 5 sum: 11
current number 7 previous number 6 sum: 13
current number 8 previous number 7 sum: 15
current number 9 previous number 8 sum: 17
current number 10 previous number 9 sum: 19

In [ ]:
#QUESTION 2

name = input ("enter the name")
Rollno = input ("enter the roll no")
mark = input ("enter the mark")
print("name:",name)
print("roll no:",Rollno)
print("mark:",mark)

enter the nameANISHA
enter the roll no21
enter the mark78
name: ANISHA
roll no: 21
mark: 78

In [ ]:
#QUESTION 8
for i in range (1,101):
  if(i%5==0):
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [ ]:
#QUESTION 10
n=int(input('enter the number:'))

if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,'not a prime number')
      break
  else:
    print(n,'is a prime number')
else:
  print(n,'is not a prime number')