<a href="https://colab.research.google.com/github/adrsh98/learning/blob/main/pythonbasic_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating bank account with withdrawl,deposit and balance enquery

In [ ]:
class bank_account:
    def __init__(self,account_number,account_name,initial_balance):
        self.account_number=account_number
        self.account_name=account_name
        self.balance=initial_balance

In [ ]:
def deposit(self,amount):
    if amount > 0:
        self.balance += amount
        print(f"Deposited ${amount}. New balance: ${self.balance}")
    else:
        print("Invalid deposit amount. Amount must be greater than 0.")

In [ ]:
def withdraw(self,amount):
    if amount > 0 and amount <= self.balance:
        self.balance -= amount
        print(f"Withdrew ${amount}. New balance: ${self.balance}")
    else:
        print("Invalid withdrawal amount or insufficient balance.")

In [ ]:
def balance_enquery(self):
  print(f"Account number: {self.account_number}")
  print(f"Account name: {self.account_name}")
  print(f"Balance: ${self.balance}")

In [ ]:
def main():
  account_number = input("Enter account number: ")
  account_name = input("Enter account name: ")
  initial_balance = float(input("Enter initial balance: "))

  return bank_account(account_number, account_name, initial_balance)

In [ ]:
if __name__ == "__main__":
  account = main()

Enter account number: 1
Enter account name: adarsh
Enter initial balance: 500

In [ ]:
while True:
  print("\nBank Account Operations:")
  print("1.Deposit")
  print("2.withdraw")
  print("3.Balance Enquiry")
  print("4.Exit")

  choice = input("Enter your choice (1/2/3/4): ")

  if choice == "1":
    amount = float(input("Enter deposit amount: "))
    account.deposit(amount)
  elif choice == "2":
    amount = float(input("Enter withdrawal amount: "))
    account.withdraw(amount)
  elif choice == "3":
    account.balance_enquery()
  elif choice == "4":
    print("Exiting the program.")
    break
  else:
    print("Invalid choice. Please select a valid option.")

Bank Account Operations:
1.Deposit
2.withdraw
3.Balance Enquiry
4.Exit
Enter your choice (1/2/3/4): 4
Exiting the program.

In [ ]:
#weather data analyzer
import datetime
city_name: str = "NEW YORK"
country_name: str = "USA"
latitude:float = 40.7128
longitude: float = -74.0060

In [ ]:
current_date: datetime.date=datetime.date.today()
current_time: datetime.time=datetime.datetime.now().time()
temperature: float = 22.5
humidity: int=60
weather_description: str="Sunny"
wind_speed: float=5.0

In [ ]:
forecast_dates:list[datetime.date]=[datetime.date.today()+datetime.timedelta(days=1),datetime.date.today()+datetime.timedelta(days=2),datetime.date.today()+datetime.timedelta(days=3)]

In [ ]:
forecast_temperatures:list[float]=[25.0,28.0,30.0]

In [ ]:
forecast_humidities:list[int]=[55,50,45]

In [ ]:
forecast_descriptions:list[str]=["partly cloudy","sunny","cloudy"]

In [ ]:
print("current weather conditions:")
print(f"city: {city_name},{country_name}")
print(f"date: {current_date}")
print(f"time: {current_time}")
print(f"temperature: {temperature}°C")
print(f"humidity: {humidity}%")
print(f"weather description: {weather_description}")

current weather conditions:
city: NEW YORK,USA
date: 2024-11-23
time: 14:24:09.650784
temperature: 22.5°C
humidity: 60%
weather description: Sunny

In [ ]:
print("\nweather forecast for the next 3 days:")
for i in range(len(forecast_dates)):
  print(f"\ndate: {forecast_dates[i]}")
  print(f"temperature: {forecast_temperatures[i]}°C")
  print(f"humidity: {forecast_humidities[i]}%")
  print(f"weather description: {forecast_descriptions[i]}")

weather forecast for the next 3 days:

date: 2024-11-24
temperature: 25.0°C
humidity: 55%
weather description: partly cloudy

date: 2024-11-25
temperature: 28.0°C
humidity: 50%
weather description: sunny

date: 2024-11-26
temperature: 30.0°C
humidity: 45%
weather description: cloudy