<a href="https://colab.research.google.com/github/adrsh98/learning/blob/main/regression_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('/content/car_age_price.csv')

In [3]:
data.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [5]:
data.isna().sum()

Year     0
Price    0
dtype: int64

In [6]:
data.shape

(112, 2)

In [7]:
data.nunique()

Year      8
Price    35
dtype: int64

In [8]:
data['Year'].value_counts()

Year
2017    47
2015    22
2019    12
2018    11
2016     6
2014     6
2020     4
2013     4
Name: count, dtype: int64

In [9]:
#DEFINING X AND Y
x = data.drop('Price',axis=1)
y = data['Price']
x.head()

   Year
0  2018
1  2019
2  2019
3  2018
4  2018

In [10]:
y.head()

0    465000
1    755000
2    700000
3    465000
4    465000
Name: Price, dtype: int64

In [11]:
#train test split
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state =42)

In [12]:
#checking the shape
data.shape

(112, 2)

In [13]:
x_train.shape,x_test.shape

((89, 1), (23, 1))

In [14]:
#model creation shape
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model = lr.fit(x_train,y_train)

In [15]:
y_pred = model.predict(x_test)

In [16]:
#evaluating the model
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y_test,y_pred)
mse

4326906256.829671

In [17]:
r_value = r2_score(y_test,y_pred)
r_value

0.36759313425902185

In [18]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,y_pred)
mae

53534.77957001264

In [19]:
#r2 value in between .5 to .9 are the best and acceptable here r2 value is 0.367.
#applying scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)
x_test_sc = sc.transform(x_test)

In [20]:
x_train_sc

array([[ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [-1.00272838],
       [-1.00272838],
       [-1.64476309],
       [-1.00272838],
       [ 0.28134106],
       [ 1.56541049],
       [ 0.92337577],
       [ 0.28134106],
       [ 0.28134106],
       [-1.64476309],
       [-1.00272838],
       [ 0.28134106],
       [-1.00272838],
       [-1.00272838],
       [-0.36069366],
       [-1.00272838],
       [ 2.2074452 ],
       [ 0.28134106],
       [ 0.28134106],
       [-1.64476309],
       [ 0.28134106],
       [-0.36069366],
       [ 0.28134106],
       [ 1.56541049],
       [-1.00272838],
       [ 2.2074452 ],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.92337577],
       [ 1.56541049],
       [-1.00272838],
       [ 0.28134106],
       [ 0.92337577],
       [ 0.28134106],
       [ 0.92337577],
       [-1.00272838],
       [-0.36069366],
       [-1.00272838],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [-2.28679781],
       [-1.00272838],
       [ 1.56541049],
       [-1.00272838],
       [ 0.28134106],
       [-1.64476309],
       [-1.00272838],
       [ 1.56541049],
       [-1.64476309],
       [-0.36069366],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [-1.64476309],
       [-0.36069366],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.28134106],
       [ 2.2074452 ],
       [ 1.56541049],
       [-2.28679781],
       [ 1.56541049],
       [ 1.56541049],
       [ 0.28134106],
       [ 0.28134106],
       [-0.36069366],
       [ 0.28134106],
       [ 0.28134106],
       [-1.00272838],
       [-1.00272838],
       [ 0.92337577],
       [-1.00272838],
       [ 0.28134106],
       [-1.00272838],
       [ 0.28134106],
       [ 0.28134106],
       [ 0.92337577],
       [-1.00272838]])

In [21]:
model_sc = lr.fit(x_train_sc,y_train)

In [22]:
y_pred_sc = model_sc.predict(x_test_sc)

In [23]:
#evaluating
#mse
#r2

mean_squared_error(y_test,y_pred_sc)

4326906256.829966

In [24]:
r2_score(y_test,y_pred_sc)

0.36759313425897877

In [25]:
#lassso regression (for the least absolute srinkage)

from sklearn.linear_model import Lasso
lo = Lasso()

In [26]:
model_lo = lo.fit(x_train_sc,y_train)

In [27]:
y_pred_lo = lo.predict(x_test_sc)

In [28]:
mean_squared_error(y_test, y_pred_lo)

4326833853.448728

In [29]:
r2_score(y_test,y_pred_lo)

0.3676037165070517

In [30]:
x = 2022
print (model.predict([[x]]))

[1.5042133e+08]

In [31]:
#both of the model showing similar result